<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Your Website</title>
	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script> -->
	<style type="text/css">
		
	</style>
</head>
<body style="padding:0;margin:0;">
	<header style="border-top:10px solid #000;border-bottom:1px solid #ccc;width:100%;margin:0 auto;">
		<div class="container">
			<img src="html1/img/logo.jpg" class="img-responsive">
		</div>
	</header>
	
	<section style="margin-top:40px;">
	
		<article>
			<div class="container annexture" style="border:1px solid #ccc;position:relative;margin:50px auto;padding:40px 20px;width:1120px;margin:0 auto;	">
				<div class="topAnnex" style="position:absolute;background:#fff;padding:5px 15px;text-transform:uppercase;font-size:24px;font-weight:700;top:-26px">CRIMINAL ANNEXURE</div>
				<table width="100%" cellpadding="0" cellspacing="0" style="border:1px solid #ccc;margin-bottom:25px">
					<tbody style="width:100%;border-top:4px solid #f47a69">
						<tr style="border-bottom:1px solid #ccc;">
							<td style="padding:8px 10px;font-size:16px;font-weight:500;position:relative;border-right:1px solid #ccc;border-bottom:1px solid #ccc;">Check Status</td>
							<td style="padding:8px 10px;font-size:16px;font-weight:500;position:relative;border-right:1px solid #ccc;border-bottom:1px solid #ccc;"><strong>Check</strong><span style="color:#259C11;"> √</td>
						</tr>
						<tr style="border-bottom:1px solid #ccc;">
							<td style="padding:8px 10px;font-size:16px;font-weight:500;position:relative;border-right:1px solid #ccc;border-bottom:1px solid #ccc;">Name of the Applicant </td>
							<td style="padding:8px 10px;font-size:16px;font-weight:500;position:relative;border-right:1px solid #ccc;border-bottom:1px solid #ccc;">LAKHMAN MOHRANA</td>
						</tr>
						<tr style="border-bottom:1px solid #ccc;">
							<td style="padding:8px 10px;font-size:16px;font-weight:500;position:relative;border-right:1px solid #ccc;border-bottom:1px solid #ccc;">Father Name</td>
							<td style="padding:8px 10px;font-size:16px;font-weight:500;position:relative;border-right:1px solid #ccc;border-bottom:1px solid #ccc;">RADHAKRISHNA MOHRANA</td>
						</tr>
						<tr style="border-bottom:1px solid #ccc;">
							<td style="padding:8px 10px;font-size:16px;font-weight:500;position:relative;border-right:1px solid #ccc;border-bottom:1px solid #ccc;">DOB</td>
							<td style="padding:8px 10px;font-size:16px;font-weight:500;position:relative;border-right:1px solid #ccc;border-bottom:1px solid #ccc;">20-11-1985</td>
						</tr>
						<tr style="border-bottom:1px solid #ccc;">
							<td style="padding:8px 10px;font-size:16px;font-weight:500;position:relative;border-right:1px solid #ccc;border-bottom:1px solid #ccc;">Address</td>
							<td style="padding:8px 10px;font-size:16px;font-weight:500;position:relative;border-right:1px solid #ccc;border-bottom:1px solid #ccc;">SSR Corporate Park, 7th Floor, 13/6, NH-2, Sector-27B</td>
						</tr>
					</tbody>
				</table>
				
				<table width="100%" cellpadding="0" cellspacing="0" style="border:1px solid #ccc;margin-bottom:25px">
					<tbody style="width:100%;border-top:4px solid #f47a69">
					<tr style="border-bottom:1px solid #ccc;">
							<td colspan="4" style="padding:8px 10px;font-size:16px;font-weight:500;position:relative;border-right:1px solid #ccc;border-bottom:1px solid #ccc;">Sources</td>
						</tr>
						<tr style="border-bottom:1px solid #ccc;">
							<td style="border-bottom:1px solid #ccc;padding:8px 10px;font-size:16px;font-weight:500;position:relative;border-right:1px solid #ccc;">HIGH COURT</td>
						
							<td class="borRight" style="border-bottom:1px solid #ccc;padding:8px 10px;font-size:16px;font-weight:500;position:relative;border-right:1px solid #ccc;">DISTRICT & SESSIONS COURT</td>
						
							<td style="border-bottom:1px solid #ccc;padding:8px 10px;font-size:16px;font-weight:500;position:relative;border-right:1px solid #ccc;">MAGISTRATE COURT</td>
						
							<td style="border-bottom:1px solid #ccc;padding:8px 10px;font-size:16px;font-weight:500;position:relative;border-right:1px solid #ccc;">SUPREME COURT</td>
						</tr>
						<tr class="nobg">
							<td colspan="4" style="padding:8px 10px;font-size:16px;font-weight:500;position:relative;border-right:1px solid #ccc;">In conclusion, as on date of this search, there appers to be no records found against the Subject, at the given address.</td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>
		</article>
		
<!--
	<footer>
		<p>Copyright 2009 Your name</p>
	</footer>-->

</body>

</html>