{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>your keyword rich title of the webpage</title>
<meta name="description" content="descr">
<meta property="og:title" content="shor" />
<meta property="og:url" content="https://ddb136c5.ngrok.io/payment/invoice/sasas"/>
<meta property="og:description" content="description of your website/webpage">
<meta property="og:image" content="https://ddb136c5.ngrok.io/static/googleimg.jpg">
<meta property="og:type" content="article" />
{% comment %} <meta property="og:locale" content="en_GB" />
<meta property="og:locale:alternate" content="fr_FR" />
<meta property="og:locale:alternate" content="es_ES" /> {% endcomment %}
</head>
<body>
<br/>
<br/>
<h1>Please make your payment here. Your url_id is </h1>
<h1>Please make your paymejkjkjkjkjnt here. Your url_id is </h1>
<h1>Please make your payment here. Your url_id is </h1>
<h1>Please make your payment here. Your url_id is </h1>
<h1>Please make your payment hsasaere. Your url_id is </h1>
<h1>Please make your payment here. Your url_id is </h1>

</body>
</html>
